<!--
	Notas:::
	
 -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       
       xsi:schemaLocation="
       		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
			http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
       		http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd">

<!--   <context:component-scan base-package="com.migration.ice"/> -->
	
<!-- 	<jaxrs:server id="example-service-server" address="/example"> -->
<!-- 		<jaxrs:serviceBeans> -->
<!-- 			<ref bean="exampleService" /> -->
<!-- 		</jaxrs:serviceBeans> -->
<!-- 		<jaxrs:providers> -->
<!-- 			<ref bean='jsonProvider' /> -->
<!-- 		    <ref bean="exceptionHandler"/> -->
<!-- 			<ref bean="tsecFilter"/> -->
<!-- 		</jaxrs:providers> -->
<!-- 	</jaxrs:server> -->

</beans>
